@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Fira+Code:wght@300..700&family=Fredoka:wdth,wght@102.3,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jacques+Francois&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Miniver&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
:root {
  --dk-violet: hsl(268, 75%, 9%);
  --lt-violet: hsl(268, 47%, 21%);
  --lt-violet2: hsl(281, 89%, 26%);
  --vb-violet: hsl(285, 91%, 52%);
  --vb-violet2: hsl(290, 70%, 36%);

  --vb-yellow: hsl(52, 100%, 62%);

  --pl-white: hsl(0, 0%, 100%);

  --vb-cyan: hsl(176, 100%, 44%);
  --vb-cyan2: hsl(177, 92%, 70%);
  --dk-text: hsl(198, 20%, 13%);
}
body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    231deg,
    rgba(22, 6, 40, 1) 0%,
    rgba(52, 28, 79, 1) 50%,
    rgba(88, 7, 125, 1) 100%
  );
}

.container {
  width: 90%;
  max-width: 450px;
}

h1 {
  color: var(--pl-white);
  opacity: 0.75;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.2;
}

.display-container {
  position: relative;
  background: var(--dk-violet);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-bottom: 0.35rem solid var(--lt-violet2);
  margin: 1rem 0;
  padding-top: 0.35rem;
}
.display {
  width: 100%;
  background: transparent;
  padding: 1.15rem 1rem;
  color: var(--vb-yellow);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 1px;
  border: none;
  padding-right: 3.25rem;
}

.display::placeholder {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  font-size: 1.5rem;
  line-height: 30px;
  opacity: 0.65;
  color: var(--vb-yellow);
  text-transform: uppercase;

  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.display:focus {
  outline: none;
}

.display-container button {
  position: absolute;
  background: transparent;
  outline: none;
  border: none;
  top: 50%;
  right: 1.5rem;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.active {
  position: absolute;
  background: var(--vb-violet);
  padding: 4px 11px;
  color: var(--vb-yellow);
  text-transform: capitalize;
  border-radius: 10px;
  top: -30px;
  right: -15px;
  z-index: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}


.display-container button img {
  width: 25px;
  height: auto;
}

.input-container {
  width: 100%;
  background-color: var(--dk-violet);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 2rem;
  border-bottom: 0.35rem solid var(--lt-violet2);
}
.length-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.length-container p:nth-child(1) {
  color: var(--pl-white);
  font-size: 1.5rem;
}
.length-container p:nth-child(2) {
  color: var(--vb-yellow);
  font-size: 1.5rem;
}

.strength-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.75rem;
  margin-bottom: 2rem;
}
.strength-container p {
  color: var(--pl-white);
  font-size: 1.5rem;
}

.indicator {
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.generateButton {
  width: 100%;
  color: var(--vb-yellow);
  padding: 1rem 0;
  text-align: center;
  background: var(--vb-violet);
  border-bottom: 0.35rem solid var(--vb-yellow);
  cursor: pointer;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.75rem;
}

.check {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 0 1rem;
}

.check input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--vb-cyan);
  cursor: pointer;
  position: relative;
  border-radius: 0.35rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  -o-border-radius: 0.35rem;
}

.check input:checked {
  background: var(--vb-cyan);
}

.check input:checked::before {
  content: "✔";
  position: absolute;
  color: var(--dk-text);
  font-size: 1.05rem;
  font-weight: 600;
  left: 50%;
  top: -3.5px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.check label {
  color: var(--pl-white);
  font-size: 1.25rem;
  letter-spacing: 0.75px;
}

.slider {
  appearance: none;
  height: 0.75rem;
  width: 100%;
  cursor: pointer;
  background-color: var(--lt-violet);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(var(--vb-violet), var(--vb-violet));
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

.slider::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  background: var(--vb-yellow);
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  margin-top: -3px;
  box-sizing: 0px 0px 20px 0px rgba(225, 229, 61, 0.5);
  transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
}

.slider:focus {
  outline: 3px solid var(--vb-yellow);
}
.slider::-webkit-slider-thumb:hover {
  outline: 2px solid var(--vb-yellow);
  background-color: var(--dk-violet);
  box-shadow: 0px 0px 25px 5px rgba(225, 229, 61, 0.8);
}

 /* moz-range-thumb for firefox */